dog_cell/
dog_lip/
dog_vac/
lipid_upgrade/
vac_upgrade/
cell_upgrade/
training_demo/
yeast_segs/
analyze_these/
/analysis_results/
/scripts/.ipynb_checkpoints/
models_all/
ncr1/
npc2/
results/
tomos/
wt/
out/
.idea/
__pycache__/
*.tif
*.txt
!requirements.txt
*.zip
run-all.py
